#### Variablen

In [10]:
''' 
Aufgabe 1:
Setze c auf 5
Setze d auf 7
Verdopple den Wert von c
e = c minus d
Gib das dreifache von e aus.

Erwartete Ausgabe: 9
'''
# your code;

' \nAufgabe 1:\nSetze c auf 5\nSetze d auf 7\nVerdopple den Wert von c\ne = c minus d\nGib das dreifache von e aus.\n\nErwartete Ausgabe: 9\n'

In [11]:
'''
Aufgabe 2:
Setze x auf 4
Setze y auf 7
Erhöhe x um 1
Erniedrige y um 2
Gib die Summe und das Produkt von x und y aus.

Erwartete Ausgabe:
10 25
'''
# your code

'\nAufgabe 2:\nSetze x auf 4\nSetze y auf 7\nErhöhe x um 1\nErniedrige y um 2\nGib die Summe und das Produkt von x und y aus.\n\nErwartete Ausgabe:\n10 25\n'

In [12]:
'''
Aufgabe 3:
Setze a auf 10 und b auf 12.
Erhöhe b um das Doppelte von a
Erhöhe den Wert von a um 1 und gib dann die Summe von a und b aus.

Erwartete Ausgabe:
43
'''
# your code

'\nAufgabe 3:\nSetze a auf 10 und b auf 12.\nErhöhe b um das Doppelte von a\nErhöhe den Wert von a um 1 und gib dann die Summe von a und b aus.\n\nErwartete Ausgabe:\n43\n'

In [13]:
'''
Aufgabe 4:
setze r auf 4.5 
setze pi auf 3.1415
setze flaeche auf pi * r * r
gib flaeche aus.


Erwartete Ausgabe:
63.61537500000001
'''
# your code

'\nAufgabe 4:\nsetze r auf 4.5 \nsetze pi auf 3.1415\nsetze flaeche auf pi * r * r\ngib flaeche aus.\n\n\nErwartete Ausgabe:\n63.61537500000001\n'

In [14]:
'''
Aufgabe 5:
Setze s1 auf 'Hallo'
Setze s2 auf 'Welt'
Erzeuge unter Verwendung von s1 und s2 einen String s3 mit dem Inhalt 'Hallo Welt!'
Gib s3 aus

Erwartete Ausgabe: 
Hallo Welt!
'''

# your code

"\nAufgabe 5:\nSetze s1 auf 'Hallo'\nSetze s2 auf 'Welt'\nErzeuge unter Verwendung von s1 und s2 einen String s3 mit dem Inhalt 'Hallo Welt!'\nGib s3 aus\n\nErwartete Ausgabe: \nHallo Welt!\n"

#### Input

In [15]:
'''
Aufgabe 8:
Lies ein Wort ein und gib es doppelt wieder aus.

Beispieldialog:

Bitte ein Wort eingeben: Hallo
HalloHallo
''' 
# your code

'\nAufgabe 8:\nLies ein Wort ein und gib es doppelt wieder aus.\n\nBeispieldialog:\n\nBitte ein Wort eingeben: Hallo\nHalloHallo\n'

In [16]:
'''
Aufgabe 9:
Lies eine Zahl ein und gib das Doppelte der Zahl aus.

Beispieldialog:

Bitte eine Zahl eingeben: 5
10
''' 
# your code

'\nAufgabe 9:\nLies eine Zahl ein und gib das Doppelte der Zahl aus.\n\nBeispieldialog:\n\nBitte eine Zahl eingeben: 5\n10\n'

In [17]:
'''
Aufgabe 10:
Lies zwei (durch Leerzeichen getrennte) Zahlen ein und gib ihre Summe aus

Beispieldialog:

Bitte die erste Zahl eingeben: 5
Bitte die zweite Zahl eingeben: 3
Die Summe ist 8
''' 
# your code

'\nAufgabe 10:\nLies zwei (durch Leerzeichen getrennte) Zahlen ein und gib ihre Summe aus\n\nBeispieldialog:\n\nBitte die erste Zahl eingeben: 5\nBitte die zweite Zahl eingeben: 3\nDie Summe ist 8\n'